body {
  text-align: center;
  margin: 20px;
  padding: 0;
  position: absolute;
}

.hoge {
  margin: auto;
}

img {
  height: 560;
  width: 420;
}

.headline {
  font-weight: bold;
  background-color: #f2f2f2;
}

.education {
  margin: 0;
  padding: 0;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 2px solid #333;
  margin: 0;
  padding: 0;
}

th,
td {
  width: 100px;
}

th {
  background-color: #f2f2f2;
}

.detail {
  width: 647px;
}

.containerA {
  display: grid;
  grid-template-rows: 50px 40px 40px 40px 40px;
  grid-template-columns: 150px 500px 200px;
  grid-template-areas:
    "areaA areaA areaA"
    "areaB areaC areaF"
    "areaD areaE areaName"
    "areaH areaI areaName"
    "areaJ areaK areaName"
    "areaL areaM areaName";

  line-height: 40px;
}

.title {
  line-height: 50px;
  font-size: 200%;
}

/* アイテム */

.itemName {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaName;
  background: white;
  border-left: unset;
}
.itemA {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaA;
  background: white;
  border: unset;
}
.itemB {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaB;
  background: white;
  border-bottom: unset;
}
.itemC {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaC;
  background: white;
  border-bottom: unset;
  border-left: unset;
}

.itemD {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaD;
  background: white;
  border-bottom: unset;
}

.itemE {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaE;
  background: white;
  border-bottom: unset;
  border-left: unset;
}

.itemF {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaF;
  background: white;
  border-bottom: unset;
  border-left: unset;
}

.itemG {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaG;
  background: white;
  border-bottom: unset;
}

.itemH {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaH;
  background: white;
  border-bottom: unset;
}

.itemI {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaI;
  background: white;
  border-bottom: unset;
  border-left: unset;
}

.itemJ {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaJ;
  background: white;
  border-bottom: unset;
}

.itemK {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaK;
  background: white;
  border-bottom: unset;
  border-left: unset;
}

.itemL {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaL;
  background: white;
}

.itemM {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: areaM;
  background: white;
  border-left: unset;
}

table .others {
  width: 850;
  margin: 0;
  padding: 0;
}

.containerB {
  display: grid;
  grid-template-rows: 50px;
  grid-template-columns: 425px 425px;
  grid-template-areas:
    "area1 area1"
    "area2 area2"
    "area7 area7"
    "area3 area3"
    "area4 area5"
    "area6 area6"
    "area8 area8";
}

.item1 {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: area1;
  background: white;
}

.item2 {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: area2;
  background: white;
  border-bottom: unset;
  border-top: unset;
}

.item3 {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: area3;
  background: white;
  border-bottom: unset;
}

.item4 {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: area4;
  background: white;
}

.item5 {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: area5;
  background: white;
  border-left: unset;
}

.item6 {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: area6;
  background: white;
  border-top: unset;
}

.item7 {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: area7;
  background: white;
}

.item8 {
  border-collapse: collapse;
  border: 2px solid #333;
  grid-area: area8;
  background: white;
  text-align: right;
  border: unset;
  font-family: "Times New Roman";
}
