body {
  text-align: center;
  margin: 20px;
  padding: 0;
}

.hoge {
  margin: auto;
}

table {
  margin: 0;
  padding: 0;
}

table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid #333;
  margin: 0;
  padding: 0;
}

th,
td {
  width: 100px;
}
.detail {
  width: 650px;
}

.container {
  display: grid;
  grid-template-rows: 100px 50px;
  grid-template-columns: 150px 500px 200px;
  grid-template-areas:
    "areaA areaA areaA"
    "areaB areaC areaName"
    "areaD areaE areaName"
    "areaF areaG areaName"
    "areaH areaI areaName"
    "areaJ areaK areaName"
    "areaL areaM areaName";
}

/* アイテム */

.itemName {
  grid-area: areaName;
  background: green;
}
.itemA {
  grid-area: areaA;
  background: #f88;
}
.itemB {
  grid-area: areaB;
  background: #8f8;
}
.itemC {
  grid-area: areaC;
  background: #88f;
}

.itemD {
  grid-area: areaD;
  background: #88f;
}

.itemE {
  grid-area: areaE;
  background: #88f;
}

.itemF {
  grid-area: areaF;
  background: #88f;
}

.itemG {
  grid-area: areaG;
  background: #88f;
}

.itemH {
  grid-area: areaH;
  background: #88f;
}

.itemI {
  grid-area: areaI;
  background: #88f;
}

.itemJ {
  grid-area: areaJ;
  background: #88f;
}

.itemK {
  grid-area: areaK;
  background: #88f;
}

.itemL {
  grid-area: areaL;
  background: #88f;
}

.itemM {
  grid-area: areaM;
  background: #88f;
}
